Repository jmahc/that-react-app-you-want: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-standard, prettier --parser postcss --write

chore(release): 0.2.17
  CHANGELOG.md
  package.json
Due: none

Added an auto-dependency grabber for building vendor files.
  config/dependencies.babel.js
  config/webpack.config.vendor.babel.js
  package.json
  src/application.dev.js
  src/components/Icon/index.js
Due: prettier-standard

chore(release): 0.2.18
  CHANGELOG.md
  package.json
Due: none

Updated the jsconfig to work with VSCode file path intellisense. Added an `alias.config` file for webpack aliases.
  config/alias.config.js
  config/dependencies.babel.js
  config/paths.js
  config/webpack.config.commons.babel.js
  config/webpack.config.development.babel.js
  config/webpack.config.production.babel.js
  config/webpack.config.vendor.babel.js
Due: prettier-standard

chore(release): 0.2.19
  CHANGELOG.md
  package.json
Due: none

Woops forgot these :)
  jsconfig.json
  src/containers/App/index.js
Due: prettier-standard

Initial commit for big changes
  .eslintignore
  .gitignore
  config/dependencies.babel.js
  config/isVendor.babel.js
  config/isVendor.js
  config/paths.js
  config/postcss.config.js
  config/seo.config.js
  config/stats.js
  config/webpack.config.commons.babel.js
  config/webpack.config.development.babel.js
  config/webpack.config.parts.babel.js
  config/webpack.config.production.babel.js
  config/webpack.config.vendor.babel.js
  package.json
  public/index.ejs
Due: prettier-standard

Pushing some stuff...
  config/dependencies.babel.js
  config/webpack.config.development.babel.js
  config/webpack.config.production.babel.js
  config/webpack.config.vendor.babel.js
Due: prettier-standard

Code split props ({ change }) made...
  src/components/CodeSplittingComponent/index.js
Due: prettier-standard

Updated how the codesplitting was done with the button
  src/components/Button/index.js
  src/components/CodeSplittingComponent/index.js
Due: prettier-standard

A few updates - not sure what...
  config/dependencies.babel.js
  config/webpack.config.development.babel.js
  public/index.ejs
  src/application.dev.js
  src/components/CodeSplittingComponent/index.js
  src/containers/App/index.js
  src/containers/App/styles.css
  webpack.config.babel.js
Due: prettier-standard, prettier --parser postcss --write

chore(release): 0.2.20
  CHANGELOG.md
  package.json
Due: none

The `start-first` script had an invalid character for Windows users.
  package.json
Due: none

Removed intro message.
  package.json
Due: none

Stashing this docker config
  .dockerignore
  .gitignore
  .nvmrc
  Dockerfile
  config/webpack.config.parts.babel.js
  docker-compose.yml
  package-lock.json
  package.json
  src/containers/App/index.js
Due: prettier-standard

using alpine for 9.11.2 node
  Dockerfile
Due: none

Stashing some stuff.
  config/webpack.config.parts.babel.js
  src/containers/App/index.js
Due: prettier-standard

mojave push
  .prettierrc
  .prettierrc.js
  config/dependencies.babel.js
  config/webpack.config.development.babel.js
Due: prettier-standard

Removed CSS and loaders. Switch to use a CSSinJS library called `emotion`. Working on the code-splitting for development.
  babel.config.js
  config/babel.config.js
  config/development.webpack.config.babel.js
  config/production.webpack.config.babel.js
  config/vendors.webpack.config.babel.js
  package-lock.json
  package.json
  src/application.dev.js
  src/components/Button/index.js
  src/components/Button/styles.css
  src/components/Button/styles.js
  src/components/CodeSplittingComponent/index.js
  src/components/CodeSplittingComponent/lazyText.js
  src/components/CodeSplittingComponent/styles.css
  src/components/CodeSplittingComponent/styles.js
  src/components/Icon/index.js
  src/components/Icon/styles.css
  src/components/Icon/styles.js
  src/containers/App/index.js
  src/containers/App/styles.js
  src/shared/assets/svg/logo.svg
Due: prettier-standard, prettier --parser postcss --write

WIP
  .storybook/.babelrc
  .storybook/addons.js
  .storybook/config.js
  .storybook/containers/App/index.js
  .storybook/containers/Root/index.js
  .storybook/preview-head.html
  .storybook/stories.pattern
  .storybook/webpack.config.babel.js
  DATABASE_NOTES.md
  babel.config.js
  jsconfig.json
  package-lock.json
  package.json
Due: none

feat: Updating npm packages, metadata files in the root and the webpack config directory. Vendor config works but will need to fix the other webpack configurations.
  .babelrc
  .editorconfig
  .eslintignore
  .eslintrc.js
  .gitattributes
  .gitignore
  .lintstagedrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  babel.config.js
  config/babel.config.js
  config/dependencies.babel.js
  config/development.webpack.config.babel.js
  config/helpers/index.js
  config/helpers/initialize-env.js
  config/helpers/is-vendor.js
  config/helpers/polyfills.js
  config/options/dev-server.js
  config/options/index.js
  config/options/paths.js
  config/options/stats.js
  config/vendors.webpack.config.babel.js
  lint-staged.config.js
  package-lock.json
  package.json
  public/index.ejs
  sample.env.development
  sample.env.production
  src/application.dev.js
  src/application.prod.js
  stylelint.config.js
  webpack.config.babel.js
Due: prettier-standard

feat: Having trouble with webpack building via `npm run start`. Seems to be HTMLWebpackPlugin related.
  .gitignore
  .prettierrc.js
  config/_old/webpack.config.commons.babel.js
  config/_old/webpack.config.development.babel.js
  config/_old/webpack.config.parts.babel.js
  config/_old/webpack.config.production.babel.js
  config/_old/webpack.config.vendor.babel.js
  config/alias.config.js
  config/constants.js
  config/dependencies.babel.js
  config/development.webpack.config.babel.js
  config/helpers/is-vendor.js
  config/loaders.js
  config/options/dev-server.js
  config/options/index.js
  config/options/node-options.js
  config/options/paths.js
  config/options/performance-options.js
  config/paths.js
  config/postcss.config.js
  config/vendors.webpack.config.babel.js
  config/webpack.config.commons.babel.js
  config/webpack.config.development.babel.js
  lint-staged.config.js
  package-lock.json
  package.json
  public/favicon/favicon.ico
  public/index.ejs
  public/index.html
  src/.prettierrc.js
  src/application.dev.js
  src/application.prod.js
  src/containers/App/index.js
  webpack.config.babel.js
Due: prettier-standard

feat: Npm run start now works. PostCSS needs some work
  config/_old/webpack.config.vendor.babel.js
  config/alias.config.js
  config/dependencies.babel.js
  config/development.webpack.config.babel.js
  config/helpers/is-vendor.js
  config/loaders.js
  config/options/alias.config.js
  config/options/dev-server.js
  config/options/index.js
  config/options/paths.js
  config/options/performance-options.js
  config/options/stats.js
  config/postcss.config.js
  config/vendors.webpack.config.babel.js
  package-lock.json
  package.json
  public/index.ejs
  src/application.dev.js
  src/application.prod.js
  src/components/Button/index.js
  src/components/CodeSplittingComponent/index.js
  src/components/CodeSplittingComponent/lazyText.js
  src/components/CodeSplittingComponent/styles.css
  src/containers/App/index.js
  src/containers/PurifiedCss/index.js
  src/containers/PurifiedCss/styles.css
  src/index.js
  src/shared/styles/index.css
Due: prettier-standard, prettier --parser postcss --write

feat: Added routes, lazy loading, divided sections into components. Need to resolve loading the scenes (lazy or normal) and then implement some sort of pseudo-authentication.
  package-lock.json
  package.json
  public/index.ejs
  src/.prettierrc.js
  src/components/Button/index.js
  src/components/Header/index.js
  src/components/Header/styles.css
  src/components/Loading/index.js
  src/containers/App/index.js
  src/containers/App/styles.css
  src/containers/Routes/NoMatchRoute.js
  src/containers/Routes/PrivateRoute.js
  src/containers/Routes/PublicRoute.js
  src/containers/Routes/index.js
  src/scenes/Home/index.js
  src/scenes/Home/styles.css
  src/scenes/Private/index.js
  src/scenes/Private/styles.css
  src/shared/styles/index.css
  src/shared/styles/settings/colors.css
Due: prettier-standard, prettier --parser postcss --write

Adding contexts and auth services.
  package-lock.json
  package.json
  src/components/Header/index.js
  src/containers/App/index.js
  src/containers/Routes/NoMatchRoute.js
  src/containers/Routes/PrivateRoute.js
  src/containers/Routes/PublicRoute.js
  src/contexts/Auth.js
  src/index.js
  src/scenes/Home/index.js
  src/services/LocalStorage.js
Due: prettier-standard

feat: Changes to README and packagejson.
  README.md
  package.json
Due: none

feat: Packagejson reorganization.
  package.json
Due: none

feat: Router works. Working on global CSS. Working on authentication for locked routes. Soon to be done.
  babel.config.js
  config/babel.config.js
  config/postcss.config.js
  package-lock.json
  package.json
  src/components/Header/index.js
  src/components/Icon/styles.css
  src/containers/App/index.js
  src/index.js
  src/scenes/About/index.js
  src/scenes/About/styles.css
  src/scenes/Home/index.js
  src/scenes/Login/index.js
  src/scenes/Login/styles.css
  src/services/Authenticate.js
  src/shared/styles/settings/animation.css
  src/shared/styles/settings/colors.css
  src/shared/styles/settings/copy.css
Due: prettier-standard, prettier --parser postcss --write

Adding more authentication for logging in, checking for jwt_token stored in local storage. This will show stuff that was previously unavailable.
  config/postcss.config.js
  package-lock.json
  package.json
  src/components/Header/index.js
  src/components/Header/styles.css
  src/containers/App/index.js
  src/hooks/index.js
  src/hooks/useInput.js
  src/scenes/Login/index.js
  src/scenes/Login/styles.css
  src/scenes/Logout/index.js
  src/services/Authenticate.js
  stylelint.config.js
  yarn.lock
Due: prettier-standard, prettier --parser postcss --write

Removing stylelint.
  package.json
  src/components/Button/styles.css
  stylelint.config.js
  yarn.lock
Due: prettier --parser postcss --write

Updating `devDependencies` thanks to david-dm.org
  package.json
  yarn.lock
Due: none

chore(release): 0.2.21
  CHANGELOG.md
  package.json
Due: none

chore(release): 0.3.0
  CHANGELOG.md
  package.json
Due: none

chore(release): 0.3.1
  CHANGELOG.md
  package.json
Due: none

Production builds. Still need to figure out why the port changes when logging out.
  config/_old/webpack.config.commons.babel.js
  config/_old/webpack.config.development.babel.js
  config/_old/webpack.config.parts.babel.js
  config/_old/webpack.config.production.babel.js
  config/_old/webpack.config.vendor.babel.js
  config/babel.config.js
  config/options/dev-server.js
  config/options/stats.js
  config/postcss.config.js
  config/production.webpack.config.babel.js
  yarn.lock
Due: prettier-standard

Trying this for travis-ci (hard-coded env in the build log).
  webpack.config.babel.js
Due: none

Path conditions:
  prettier-standard: (any of: src/**/*.js) or (any of: config/**/*.js)
  prettier --parser postcss --write: any of: src/**/*.css
